body {
    color: #143187;
}

header {
    padding: 75px 0 25px;
}

@media (min-width: 992px) {
    header {
        padding: 75px 0 25px;
    }
}

section {
    padding: 50px 0;
}

.text-orange {
    color: #ff663f;
}

.under-orange {
    text-decoration: underline #ff663f;
}

.bg-primary {
    background-color: rgba(20, 48, 133, 0.8) !important;
}

.btn:focus {
    box-shadow: none
}
